html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

header img {
  height: 1.5em;
  padding-right: 15px;
}

header {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
.main-banner {
  background-image: url("../moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h1, h4 {
  font-weight: bold;
}

.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

nav {
  background-color: firebrick;
  color: white;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
.mobile-nav {
    display: block;
    text-align: center;
}
}



.products, .business-info {
  display:flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 50%;
  }
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8em;
}

img {
  border-style: none;
}

.description {
  display: block;
  background-color: black;
  color:white;
  text-align: center;
  padding: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .product.glasses {
    display: none;
  }
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

footer{
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (max-width: 470px)
  {
.headline {
    width: 100%;
    padding: 1em 2em;
    top: 10em;
}
}

@media only screen and (max-width: 470px)
{
  .main-banner {
    height: 15em;
}
}

@media only screen and (max-width: 470px)
{
.headline h4 {
    font-size: .77rem;
}
}

@media only screen and (max-width: 470px)
{
.headline h1 {
    font-size: 1rem;
}
}

@media only screen and (max-width: 470px)
{
  .products, .business-info {
    flex-wrap: wrap;
}
}

@media only screen and (max-width: 470px)
{
.product {
    width: 90%;
    margin: auto;
}
}

@media only screen and (max-width: 470px)
{
.product.watch {
    display: none;
}
}

@media only screen and (max-width: 470px)
{
.info {
    width: 90%;
    margin: 0.5em auto;
}
}

@media only screen and (max-width: 470px)
{
footer {
    text-align: center;
}
}
